<div class='postForm'>
  <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <label for="name">Name: </label>
    <input id="name" type="text" formControlName="nameControl">
    <label for="post">Post: </label>
    <input id="post" type="text" formControlName="postControl">
    <button type="submit" [disabled]="!postForm.valid">Submit</button>
  </form>
  @for (post of postsArray; track post.name) {
    <div class="post">
      <li class="margin">{{ post.name }}: {{ post.post }}</li>
      <button class="margin" (click)="onDelete(post.id)">DELETE</button>
    </div>
    } @empty {
    <li>There are no posts.</li>
    }
</div>